@import '../../common/variables.scss';

storLocator-page h3{
	color: $brand-color-tertiary;
}


.store-locator-result{
	   
	    padding: 15px 10px;
}

.store-locator-result__addr3, .storeHours{
	padding: 10px 0;
}