<div id="storLocator-page" class="container staticPage">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="title text-center">Store Locator</h2>
			<div>
				<p>Enter a city for our store locations:</p><br>
				<!--
				<a class="btn btn-link" (click)="click('markham')">Markham</a>,
				<button class="btn btn-link" (click)="click('miami')">Miami</button>
				-->
			</div>
			<div>
				<form (submit)="getStores(city.value)">
					<div>
						<label for="city">City:</label>
						<input type="text" #city  >
					</div>
				</form>
			</div>
			<div>
				<h2 class="title text-center">Store Location</h2>
			</div>
			<div *ngFor="let store of msg"  class="col-sm-6">
				<h3>{{store.Description[0].displayStoreName}}</h3>
				<div class="store-locator-result__addr2">{{store.addressLine[0]}}</div>
				<div class="store-locator-result__addr3">{{store.city}}, {{store.stateOrProvinceName}} &nbsp; {{store.postalCode}}</div>
				
				<div class="store-locator-result__phone"><strong>Tel.:</strong> {{store.telephone1}}</div>
				<div *ngFor="let attribute of store.Attribute" class="storeHours">
					<div *ngIf="attribute.name=='StoreHours'"> 
						<p>Store hours: </p>
						<div [innerHTML]="attribute.value"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
