// Variable test colors
// $brand-color-primary: limegreen;
// $brand-color-secondary: khaki;
// $brand-color-tertiary: maroon;

// Original Colors
// $brand-color-primary: #fe980f;
// $brand-color-secondary: #f0f0e9;
// $brand-color-tertiary: #363432;
// BlueSky Commerce
$brand-color-primary: #249ad6;
$brand-color-secondary: #ebebeb;
$brand-color-tertiary: #073769;

$base-text-color: $brand-color-tertiary;

$white: #fff;
$black: #4d4d4d;

$base: 10px;
